body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
header{
    color: white;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: white;
    background-color:rgba(236, 83, 83, 0.9) ;
         
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.section {
    margin-top: 20px;
}

.section h2 {
    margin-bottom: 10px;
}

